{% extends 'base.html.twig' %}

{% block title %}Actualite index{% endblock %}

{% block body %}
    <h1 class="py-5 text-center mt-5">Actualite index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Auteur</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actualite in actualites %}
            <tr>
                <td>{{ actualite.titre }}</td>
                <td>{{ actualite.contenu }}</td>
                <td>{{ actualite.auteur }}</td>
                <td>{{ actualite.date ? actualite.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_actualite_show', {'id': actualite.id}) }}">show</a>
                    <a href="{{ path('app_commentaire_new', {'id': actualite.id}) }}">Add comment</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_actualite_edit', {'id': actualite.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# seule les utilisateur de role user et admin peuvent écrire, modifier ou supprimer un message #}
    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_actualite_new') }}">Crée une nouvelle actualité</a>
    {% endif %}

    <a href="/">Revenir à l'accueil</a>
{% endblock %}
