{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">S'inscrire</h1>
                    </div>
                    <div class="card-body">
                        {{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}
                            <div class="form-group">
                                {{ form_row(registrationForm.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(registrationForm.plainPassword, {
                                    'label': 'Password',
                                    'attr': {'class': 'form-control', 'placeholder': 'Password'}
                                }) }}
                            </div>
                            <div class="form-group form-check">
                                {{ form_row(registrationForm.agreeRGPD, {'label_attr': {'class': 'form-check-label'}, 'attr': {'class': 'form-check-input'}}) }}
                                {{ form_label(registrationForm.agreeRGPD, 'I agree to the terms and conditions', {'label_attr': {'class': 'form-check-label'}}) }}
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

